@model IEnumerable<TournamentApp.Models.Team>

@using TournamentApp.Models;

@{
    ViewBag.Title = "Všechny týmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Všechny týmy</h2>

<ul>
    @foreach (Team team in @Model)
    {
        <li>@Html.ActionLink(team.Name, "Details", new {id = team.Id})</li>
    }
</ul>


@*<div ng-app="myApp" ng-controller="namesCtrl">
    <p><input type="text" ng-model="test"></p>
    <ul>
        <li ng-repeat="x in names | filter:test">
            <a href="/Team/Details/1"> {{ x }} </a>
        </li>
    </ul>
</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
    ];
});
</script>*@

